// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

// Color System
$background-color: #F6F6F6;
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$green-font: #008766;
$green-bg: #99E2D0;

// Fonts
$font-primary: 'Roboto', sans-serif;
$font-logo: 'Shrikhand', serif;
